@import url("./font.css");

:root {
    --color-dark: #211E20;
    --color-h2l2: #ecd92b;
}

/* Reset styles */

body {
    background: #dedede;
    font-family: 'Segoe UI', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.3em;
}

input {
    border: none;
    outline: none;
}

.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none;
}

@media (min-width: 1120px) {
    .container {
        max-width: 1120px;
    }
}

/* Commom Class */

.fw-300 {
    font-weight: 300;
}

.ul-0 {
    list-style: none;
    margin: 0;
    padding: 0;
}

.anchor-0 {
    color: var(--color-dark);
    text-decoration: none;
}

.bg-h2l2 {
    background: var(--color-h2l2 ) !important;
}

.bg-dark {
    background-color: var(--color-dark) !important;
}

.font-text {
}
.font-heading {
}

.tag {
    font-weight: 14px;
    font-weight: bold;
    color: black;
    border-bottom: 1px solid var(--color-h2l2);
    text-decoration: none;
}

/* Theme styles*/

header {
    box-shadow: 0px 7px 10px 3px #00000033;

    nav {
        ul.navbar-nav {
            li.nav-item {
                a.nav-link {
                    font-weight: bold;
                    color: white;
                    text-transform: uppercase;
                    font-family: 'Montserrat', sans-serif !important;

                    &.active {
                        color: var(--color-h2l2);
                    }
                }
            }
        }
    }

    #page-search-toggle {
        &.active {
            color: var(--color-h2l2) !important;
        }
    }

    #page-search {
        height: 0px;
        overflow: hidden;
        box-sizing: border-box;
        transition: height 350ms;
        z-index: 1000;

        &.active {
            height: 150px;
        }

        #search-input {
            width: 700px;
            max-width: 95vw;
            display: flex;
            align-items: center;

            input {
                font-size: 24px;
                flex: 1;
                display: inline-block;
                background-color: transparent;
            }
        }
    }
}

main {
    .content {
        background: #fafafa;
    }

    #primary-content {
        border-bottom: 1px solid #f1a9dc;
        #posts {
            ul {
                list-style: none;
                li.post-list-item {
                    figure {
                        width: 100%;
                        position: relative;
                        padding-top: 50%;

                        img {
                            position: absolute;
                            top:0;
                            left:0;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: center;
                        }
                    }

                    h3 {
                        // display: -webkit-box;
                        // -webkit-line-clamp: 2;
                        // -webkit-box-orient: vertical;
                        // overflow: hidden;
                        // text-overflow: ellipsis;
                        font-family: 'Montserrat', sans-serif !important;
                        font-weight: normal!important;
                        // text-transform: capitalize;
                    }
                }
            }
        }

        &.single {
            .content-area {

                figure {
                    margin-bottom: 0px;
                }
                img {
                    max-width: 100%;
                    margin-bottom: 32px;
                }

                p {
                    a {
                        color: black;
                        text-decoration: none;
                        border-bottom: 1px solid var(--color-h2l2);
                    }
                }
            }
        }
    }

    #sidebar-content {
        #posts {
            li.post-list-item {
                figure {
                    width: 100%;
                    position: relative;
                    padding-top: 50%;

                    img {
                        position: absolute;
                        top:0;
                        left:0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center
                    }
                }

                h3 {
                    // display: -webkit-box;
                    // -webkit-line-clamp: 2;
                    // -webkit-box-orient: vertical;
                    // overflow: hidden;
                    // text-overflow: ellipsis;
                    font-family: 'Montserrat', sans-serif !important;
                    // text-transform: capitalize;
                }
            }
        }
    }

    .pagination {
        .page-numbers {
            display: inline-block;
            background: var(--color-h2l2);
            text-transform: uppercase;
            padding: 10px 18px;
            color: #fff!important;
            border: none!important;
            border-radius: 5px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            font-size: 14px;
            font-weight: bold;
            margin-right: 4px;
            margin-bottom: 4px;
            text-decoration: none;

            &.current {
                opacity: 0.5;
            }
        }
    }
}

#scroll-top {
    background-color: transparent;
    border: 1.5px solid #6d6dda;
    color: #6d6dda;
    border-radius: 8px;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1000;
    // box-shadow: 0px 0px 10px 3px #0000004a;
    opacity: 0.6;
    &:hover {
        opacity: 1;
    }
}

#quickJumps {
    max-width: 800px;
    a {
        text-decoration: none;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        text-transform: uppercase;
        margin: 6px;
        font-size: 14px;
        color: black;
        background-color: #eff0f2;
        display: inline-block;
    }
}


@media (min-width: 1120px) {
    main {
        #primary-content {
            border-bottom: none;

            &.single {
                .content-area {
                    h3 {
                        margin-bottom: 32px;
                        font-size: 32px;
                        font-weight: bold;

                        &.number-title {
                            & > span:first-child {
                                color: orangered;
                            }
                        }
                    }
                    img {
                        display: block;
                        box-sizing: border-box;
                    }

                    p {
                        box-sizing: border-box;
                        width: 100%;
                        max-width: 700px;
                        margin-left: 32px;
                    }
                }
            }
        }
    }
}